body {
	background: #eeeeee;
	font-family: 'PT Sans', helvetica, arial, sans-serif;
}

nav {
	font-family: 'PT Sans', helvetica, arial, sans-serif;
	float: right;
	margin-top: 50px;
}

a, a:hover {
	color: #000000;
}

a:hover {
	opacity: 0.6;
	text-decoration: none;
}

nav a {
	display: inline;
	text-align: right;
	margin-left: 10px;
	margin-right: 10px;
	text-transform: uppercase;
	font-size: 16px;
}

header div img {
	float: left;
	width: 80px;
}

h1, h2 {
	font-family: 'Didot', 'GFS Didot', serif;
	font-size: 7em;
	text-transform: uppercase;
	/*color: #292f33;*/
	color: #000000;
}

h2 {
	font-size: 4em;
}

p {
	font-size: 18px;
	line-height: 1.5em;
}

/*Slider on Homepage*/

.slide a{
	color: #2f4f4f;
}

.slide a:hover {
	color: #6d8383;
}

.header-wrapper, .footer-wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px 15px 50px 15px;
	border-width: 0 0 1px 0;
	border-style: solid;
	text-align: center;
}

#sliders {
	width: 500px;
	height: 100px;
}

/*Footer*/

.footer-wrapper {
	border-width: 1px 0 0 0;
	text-align: center;
}

footer div p {
	font-family: 'PT Sans', sans-serif;
	padding-left: 0;
}

footer div div a {
	display: inline;
	font-size: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

footer div div img:hover {
	color: #2f4f4f;
}

.back-to-top {
	position: fixed;
	bottom: 100px;
	left: 0px;
	width: 130px;
	height: 50px;
	border-radius: 0 5px 5px 0;
	background-color: #000000;
	color: #eeeeee;
	padding: 15px 10px 15px 10px;
	
}

.back-to-top:hover {
	opacity: 0.6;
	cursor: pointer;
}


/* Portfolio Page*/


/*Portfolio Page Nav*/
.selected-nav {
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

#portfolio-nav {
	float: none;
	text-align: center;
	margin: 0 auto 50px auto;
}

#portfolio-nav p, .portfolio-code-wrapper a{
	color: #436060;
}

#portfolio-nav p {
	display: inline;
	padding-bottom: 10px;
}

#portfolio-nav p:hover {
	opacity: 0.6;
	cursor: pointer;
}

/* Portfolio - Graphics & Print Section */
#graphic-section, #studio-section {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#graphic-section a img, #studio-section a img {
	margin: 15px;
	display: inline;
}

/* Portfolio - Code Section*/
.portfolio-code-wrapper {
	border-style: dotted;
	border-width: 0 0 1px 0;
	border-color: #A8A8A8;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.code-info-wrapper h3, .code-info-wrapper h4 {
	font-family: 'PT Sans', helvetica, arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0;
	display: inline;
}

.code-info-wrapper h4 {
	font-size: 18px;
	color: #A8A8A8;
}

.code-info-wrapper .skills {
	font-size: 14px;
	font-style: italic;
	opacity: 0.8;
	margin-bottom: 30px;
}

.code-image-wrapper img {
	width: 100%;
	border-style: solid;
	border-width: 8px;
	border-color: #000000;
}

/*Construction Banner */

#construction {
	background-color: #2f4f4f;
	font-family: 'PT Sans', helvetica, arial, sans-serif;
	color: white;
	text-transform: uppercase;
	padding: 100px 20px 20px 20px;
	position: fixed;
	width: 250px;
	top: 0;
	right: 30px;
	box-shadow: 5px 5px 5px #a9a9a9;

}

#currently {
	font-size: 25px;

}
#hide {
	position: fixed;
	top: 10px;
	right: 50px;
	font-size: 25px;
}
#hide:hover {
	color: #000000;
}



/*Make page links green?
.contact-text a, #about-text p a{
	color: #2f4f4f;
}*/

.contact-text a {
	color: #436060;
}

.contact-text a:hover {
	color: #6d8383;
}

/* About Page Styling*/

#about-pic {
	width: 100%;
}

#about-text p {
	padding-top: 30px;
}

#about-text p a, #portfolio-text p a {
	font-weight: bold;
	color: #436060;
}

#about-text p a:hover, #portfolio-text p a:hover {
	color: #6d8383;
}

/*Media Queries*/
@media (max-width: 1024px) {
  h1 {
    font-size: 5.5em;
  }
}

@media (max-width: 992px) {
	
	.code-info-wrapper p {
		font-size: 16px;
	}

}

@media (max-width: 767px) {
	
	.code-info-wrapper {
		margin-top: 30px;
	}

}

@media (max-width: 480px) {
	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 3em;
		text-align: center;
	}

	header div img {
		float: none;
		text-align: center;
	}

	nav {
		float: none;
	}

	#sliders {
		width: 320px;
	}

	#portfolio-nav p {
		font-size: 16px;
	}

}