@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');
@import "_variables.scss";
@import "StarrySky.scss";
@import "TitleScreen.scss";
@import "GlobalNav.scss";

body,html{
    background: $bg-black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-header {
  position: relative;
}

/* Right-aligned container */
.header-right {
  position: absolute;
  top: 1.5rem;
  right: 2rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Social Nav */
.social-nav {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0;
    padding: 0;
  }

  &__icon {
    width: 28px;
    height: 28px;
    display: block;
  }

  a:hover &__icon {
    transform: translateY(2px);
  }
}
.container{
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
}
main{
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
