@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Silkscreen:wght@400;700&display=swap');
@import "_variables.scss";
@import "StarrySky.scss";
@import "TitleScreen.scss";
@import "GlobalNav.scss";

body,html{
    background: $bg-black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-header {
  position: relative;
  height: 30px;
}
.header-left{
    z-index: 5;
    position: absolute;
    top: 30px;
    left: 30px;
    height: 20px;
    width: auto;

    img{
        height: 100%;
    }
    &:hover{
        opacity: 0.7;
    }
    @media(max-width: 768px){
        left: 15px;
    }
}
.header-right {
    z-index: 5;
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 1rem;

    @media(max-width: 768px){
        right: 15px;
    }
}
.social-nav {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0;
    padding: 0;
  }

  &__icon {
    width: 28px;
    height: 28px;
    display: block;
  }

  a:hover &__icon {
    transform: translateY(2px);
  }
}
.container{
    padding: 0 15px;
}
main{
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    justify-content: center;
    align-items: center; 
}
h2{
    font-family: 'Silkscreen', 'arial', 'sans-serif';
    font-size: 2.3rem;
    font-weight: 500;
    text-align: left;
    color: $purple;
    margin-bottom: 1rem;

    @media(max-width: 768px){
        font-size: 2rem;
    }
}
p.body{
  font-family: 'Space Mono', 'arial', 'sans-serif';
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: left;
  color: $gray;

  @media(max-width: 768px){
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}

.about, .contact, .portfolio .text{
    max-width: 700px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    align-self: flex-start;

    ul{
    font-family: 'Space Mono', 'arial', 'sans-serif';
    line-height: 1.5rem;
    font-weight: 400;
    color: $gray;
    @media(max-width: 768px){
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    }
    a{
        color: $green;
    }
}
.portfolio{
    align-self: flex-start;
    margin-top: 80px;

    .text{
        margin-top: 0;
        margin-bottom: 30px;
        padding-bottom: 0;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(3, minmax(0px, 1fr));
        gap: 25px 30px;
        margin: 0 auto 50px auto;
        max-width: 1000px;
        
        > div{
            display: flex; 
            flex-direction: column; 
            row-gap: 8px;
        }
        > a{
            display: block;
            width: 100%;
            height: 85%;
        }
        a{
            color: $green;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
        img{
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
        }
        p{
            font-family: "Space Mono", Arial, sans-serif;
            margin: 0px 0px 12px;
            padding: 2px 0px;
            line-height: 1.35rem;
        }
        span{
            display: block;
            font-family: "Space Mono", Arial, sans-serif;
            font-size: 12px;
            color: rgb(136, 136, 136);
            font-weight: 400;
            margin-top: 4px;
        }
    }
}

