.title-screen{
  position: relative;
  z-index: 9999;
}
h1{
  // Hidden but present for screenreaders
  clip: rect(0,0,0,0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.name-wrapper{
  text-align: center;
  padding-right: 4%;

  img{
    display: block;
    width: 100%;
    max-width: 650px;
    margin: 0 auto .5rem auto;
  }

  @media(max-width: 768px){
    img{
      width: 90%;
    }
  }
}

p.intro{
  font-family: 'Silkscreen', 'arial', 'sans-serif';
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: $purple;
  &.top{
    margin: auto auto 1rem auto;
  }
  &.bottom{
    margin: -2.3rem auto 4rem auto;
    line-height: 1.8rem;
    max-width: 500px;
  }

  @media(max-width: 768px){
    &.bottom{
      max-width: 300px;
    }
  }
  @media(max-width: 650px){
    font-size: 1rem;

    &.bottom{
      margin-top: -1.6rem;
      line-height: 1.7rem;
    }
  }
  @media(max-width: 400px){
    &.bottom{
      margin-top: -.7rem;
      margin-bottom: 2rem;
      line-height: 1.5rem;
    }
  }
}
/* Button nav */
.nav {
  z-index: 5;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
  margin: 0 auto;
  list-style: none;
  column-gap: 1.5rem;
  row-gap: 1rem;
  justify-content: center;

  @media(max-width: 400px){
    column-gap: 1rem;;
  }
}
.nav a {
  position: relative;
  display: inline-block;
  padding: 0.65rem 1.25rem 0.75rem 1.25rem;
  color: $bg-black;
  text-decoration: none;
  /* pixel corner staircase */
  clip-path: polygon(
    /* top edge */
    12px 0,
    calc(100% - 12px) 0,
    /* top-right */
    calc(100% - 8px) 0,
    calc(100% - 8px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 8px,
    100% 8px,
    100% 12px,
    /* right edge */
    100% calc(100% - 12px),
    /* bottom-right */
    100% calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) 100%,
    calc(100% - 12px) 100%,
    /* bottom edge */
    12px 100%,
    /* bottom-left */
    8px 100%,
    8px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 8px),
    0 calc(100% - 8px),
    0 calc(100% - 12px),
    /* left edge */
    0 12px,
    /* top-left corner */
    0 8px,
    4px 8px,
    4px 4px,
    8px 4px,
    8px 0
  );
  font-family: 'Silkscreen', 'arial', 'sans-serif';
  // font-family: 'Pixelify Sans', 'arial', 'sans-serif';
  font-size: 1.2rem;
  letter-spacing: -0.05em;
  font-kerning: normal;

  &.btn-pink{
    background: $pink;
  }
  &.btn-yellow{
    background: $yellow;
  }
  &.btn-green{
    background: $green;
  }
 
  @media(max-width: 650px){
    font-size: 1rem;
    padding: .5rem 1rem .6rem 1rem;
  }
  @media(max-width: 400px){
    font-size: 0.8rem;
    padding: .4rem .8rem .5rem .8rem;
  }
}
/* Highlight */
.nav a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 4px;
  background: rgba(255, 255, 255, 0.35);
  pointer-events: none;
}
/* Shadow */
.nav a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 4px;
  background: rgba(0,0,0,0.5);
  pointer-events: none;
}
.nav a:hover, .nav a:active {
  transform: translateY(6px);
  padding-bottom: calc(0.75rem - 6px);
  color: #FFF;
  clip-path: polygon(
    /* top edge */
    12px 0,
    calc(100% - 12px) 0,
    /* top-right corner */
    calc(100% - 8px) 0,
    calc(100% - 8px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 8px,
    100% 8px,
    100% 12px,
    /* right edge */
    100% calc(100% - 8px),
    /* bottom-right corner */
    100% calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) 100%,
    calc(100% - 8px) 100%,
    /* bottom edge */
    8px 100%,
    /* bottom-left corner */
    4px 100%,
    4px calc(100% - 4px),
    0 calc(100% - 4px),
    0 calc(100% - 8px),
    /* left edge */
    0 12px,
    /* top-left corner */
    0 8px,
    4px 8px,
    4px 4px,
    8px 4px,
    8px 0
  );
  &::after {
    display: none;
  }
  @media(max-width: 650px){
    padding-bottom: calc(0.6rem - 6px);
  }
  @media(max-width: 400px){
    padding-bottom: calc(0.5rem - 6px);
  }
}
.nav a:focus-visible {
  outline: 3px solid #ffbf47;
  outline-offset: 3px;
}